@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-spin-slow {
    animation: spin 8s linear infinite;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #fdf2f8;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #f472b6;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ec4899;
}
